/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body {
  background: black !important;
  color: white !important;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.footer {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background: rgb(0, 0, 0);
}

.footer > * {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer > div > p {
  margin: 0;
}

.links > * {
  padding: 10px;
  cursor: pointer;
}

.btn-footer {
  background: #0071d9;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 14px;
  padding: 3px 9px;
  -webkit-box-shadow: 0px 0px 7px 0 #0071d9;
  box-shadow: 0px 0px 7px 0 #0071d9;
}

.burger-menu {
  display: none;
}

.wholeapp {
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  overflow: hidden;
  background-image: url("../public/grid.png");
}

.slogan {
  font-size: 22px;
  text-align: right;
  font-weight: 500;
  margin-top: 53px;
  margin-bottom: 54px;
  letter-spacing: 3px;
}

.poolshark-name {
  width: 100%;
}

.lines {
  position: absolute;
  left: 0;
  top: 900px;
  height: 500px !important;
  z-index: 1;
  width: 100%;
  margin-top: -250px;
  height: auto;
}

.cta-wrapper {
  display: inline-block;
  text-align: right;
  width: 80%;
}

.cta {
  background: white;
  outline: none;
  border: none;
  font-size: 27px;
  font-weight: 700;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 8px 0 #ced8f7;
  box-shadow: 0 0 8px 0 #ced8f7;
  cursor: pointer;
  position: relative;
  z-index: 10;
  padding: 1px 15px;
}

.coins-wrapper {
  position: relative;
}

.coin1 {
  width: 180px;
  position: absolute;
  right: 100px;
  top: 50px;
  -webkit-animation: entering 2s 3.6s backwards, float 6s ease-in-out infinite;
  animation: entering 2s 3.6s backwards, float 6s ease-in-out infinite;
  -webkit-perspective: 800px;
  perspective: 800px;
}

.coin2 {
  width: 190px;
  position: absolute;
  right: 210px;
  top: 138px;
  -webkit-animation: entering 2s 3s backwards, float2 8s ease-in-out infinite;
  animation: entering 2s 3s backwards, float2 8s ease-in-out infinite;
}

.coin3 {
  width: 150px;
  position: absolute;
  right: 260px;
  top: 10px;
  -webkit-animation: entering 2s 3.9s backwards, float3 4s ease-in-out infinite;
  animation: entering 2s 3.9s backwards, float3 4s ease-in-out infinite;
}
@-webkit-keyframes entering {
  0% {
    top: -400px;
  }

  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
@keyframes entering {
  0% {
    top: -400px;
  }

  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  40% {
    -webkit-transform: translatey(-20px) rotatez(-10deg) translateX(-10px);
    transform: translatey(-20px) rotatez(-10deg) translateX(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  40% {
    -webkit-transform: translatey(-20px) rotatez(-10deg) translateX(-10px);
    transform: translatey(-20px) rotatez(-10deg) translateX(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@-webkit-keyframes float2 {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-transform: translatex(0px);
    transform: translatex(0px);
  }
  50% {
    -webkit-transform: translatey(10px) rotateY(20deg) rotateZ(-22deg)
      translateX(-10px);
    transform: translatey(10px) rotateY(20deg) rotateZ(-22deg) translateX(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-transform: translatex(0px);
    transform: translatex(0px);
  }
  50% {
    -webkit-transform: translatey(10px) rotateY(20deg) rotateZ(-22deg)
      translateX(-10px);
    transform: translatey(10px) rotateY(20deg) rotateZ(-22deg) translateX(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@-webkit-keyframes float3 {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px) rotateZ(10deg) translateX(-4px);
    transform: translatey(-10px) rotateZ(10deg) translateX(-4px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@keyframes float3 {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px) rotateZ(10deg) translateX(-4px);
    transform: translatey(-10px) rotateZ(10deg) translateX(-4px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

.logo {
  display: block;
  margin-bottom: 47px;
  width: 25%;
}

.bg {
  background-color: green;
}

.shark-img {
  margin-top: 80px;
  margin-left: -100px;
  width: 120%;
  z-index: 3;
  position: relative;
  animation: fadeIn 2s 2s backwards;
  -webkit-animation: fadeIn 2s 2s backwards;
  -moz-animation: fadeIn 2s 2s backwards;
  -o-animation: fadeIn 2s 2s backwards;
  -ms-animation: fadeIn 2s 2s backwards;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: 400px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: 400px;
  }
  100% {
    opacity: 1;
  }
}
​ @-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
​ @-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
​ @-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
​ @-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.big-margin {
  margin-top: 200px;
}

.box-label {
  font-weight: 500;
  font-size: 75px;
  width: 100%;
  color: #27f09e;
  position: relative;
  z-index: 2;
  line-height: 66px;
}
.white-txt {
  color: white;
  margin-bottom: 0;
}

.first-box {
  margin-left: -180px;
}

.box-text {
  font-size: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 2;
  position: relative;
}

.pipe {
  width: 250%;
  margin-top: -800px;
  margin-left: -945px;
}

.text-right {
  text-align: right;
}

.pipe-box {
  position: relative;
  margin-top: -100px;
}

.vibrate-1 {
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 88;
  padding-top: 300px;
}

.right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  top: 620px;
  right: -166px;
  text-align: right;
}

.z-index {
  position: relative;
  z-index: 2;
}

.left-box {
  position: absolute;
  top: 1650px;
  left: -180px;
}

.center-box {
  position: absolute;
  bottom: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  right: -166px;
}

.video {
  position: absolute;
  bottom: 2006px;
  left: 79px;
}

iframe {
  pointer-events: none;
}

.first-video {
  position: absolute;
  left: -153px;
  top: 316px;
}

.second-video {
  position: absolute;
  left: 826px;
  top: 1312px;
}

.third-video {
  position: absolute;
  left: -82px;
  top: 2172px;
}

.fourth-video {
  position: absolute;
  left: 918px;
  top: 3684px;
}

.coin-one {
  position: absolute;
  right: 111px;
  top: -400px;
  z-index: 2;
}

.coin-two {
  position: absolute;
  left: 400px;
  bottom: 620px;
}

.powered-wrapper {
  background-color: rgba(0, 0, 0, 0.267);
  width: 100%;
  margin-top: 250px;
  font-size: 28px;
  font-weight: 500;
}



@media only screen and (max-width: 1700px) {
  .shark-img {
    margin-top: 240px;
    max-width: 800px;
  }

  .coins {
    margin-left: -30px;
  }
  .first-video {
    left: -22px;
    top: 365px;
  }

  .pipe {
    width: 210%;
    margin-top: -800px;
    margin-left: -680px;
  }

  .box-label {
    font-size: 50px;
  }

  .pipe-box {
    margin-top: -20px;
  }

  .box-text {
    font-size: 30px;
  }

  .first-box {
    margin-left: -30px;
    padding-right: 120px;
  }

  .right-box {
    top: 420px;
    right: -30px;
    padding-left: 300px;
  }

  .left-box {
    top: 1250px;
    padding-right: 200px;
    margin-left: 130px;
  }

  .center-box {
    right: -30px;
  }

  .first-video {
    left: -12px;
    top: 126px;
  }

  .second-video {
    left: 767px;
    top: 976px;
  }

  .video {
    left: 182px;
    top: 2148px;
  }

  .third-video {
    left: 46px;
    top: 1698px;
  }

  .fourth-video {
    left: 889px;
    top: 2967px;
  }

  .coin-one {
    right: 180px;
  }
}


@media only screen and (max-width: 1650px) {
  .coins {
    margin-left: -30px;
  }

  .right-box {
    right: 0;
  }

  .center-box {
    right: 0;
  }

  .coin-one {
    right: 170px;
  }

  .box-label {
    font-size: 35px;
    line-height: 35px;
  }

  .box-text {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1400px) {


  .first-box {
    margin-left: -30px;
  }

  .right-box {
    top: 350px;
    right: 0px;
    margin-right: -30px;
  }

  .left-box {
    top: 1030px;
  }

  .center-box {
    bottom: 650px;
    margin-right: -30px;
  }

  .video {
    top: 1820px;
    left: 154px;
  }

  .powered-wrapper {
    margin-top: 143px;
  }

  .pipe {
    width: 210%;
    margin-top: -720px;
    margin-left: -587px;
  }

  .coin-one {
    right: 153px;
    width: 120px;
  }

  .coin-two {
    left: 350px;
    bottom: 500px;
  }
  .first-video {
    top: 88px;
    left: -34px;
  }

  .second-video {
    position: absolute;
    left: 607px;
    top: 809px;
  }

  .third-video {
    position: absolute;
    left: 28px;
    top: 1432px;
  }

  .fourth-video {
    position: absolute;
    left: 753px;
    top: 2525px;
  }

  .shark-img {
    max-width: 800px;
    margin-left: -77px;
    margin-top: 200px;
  }
  .coin1,
  .coin2,
  .coin3 {
    width: 150px;
  }

  .coin1 {
    right: 30px;
  }

  .coin2 {
    right: 100px;
  }

  .coin3 {
    right: 170px;
  }
}


@media only screen and (max-width: 1300px) {
  .first-box {
    margin-left: 0;
  }

  .left-box {
    left: 0;
    margin-left: 0;
  }

  .coins {
    margin-left: 0;
  }

  .cta-wrapper {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .logo {
    width: 100px;
  }

  .slogan {
    text-align: left;
    font-size: 20px;
  }

  .box-text {
    font-size: 20px;
  }

  .coin-one {
    top: -300px;
    right: 160px;
    width: 100px;
  }

  .coin-two {
    height: 100px;
    bottom: 450px;
    left: 290px;
  }



  .box-label {
    font-size: 25px;
    line-height: 32px;
  }

  .z-index {
    text-align: center;
  }

  .pipe {
    margin-left: -349px;
    margin-top: -520px;
    width: 180%;
  }

  .video {
    left: 184px;
    top: 1304px;
  }

  .cta-wrapper {
    margin-left: 0;
  }

  .coins {
    margin-left: -40px;
  }

  .shark-img {
    margin-left: -20px;
    margin-top: 220px;
  }
  .lines {
    top: 800px;
  }

  .first-box {
    margin-left: 50px;
    padding-right: 140px;
    margin-bottom: 40px;
  }
  .right-box {
    margin-right: 30px;
    top: 240px;
  }
  .left-box {
    margin-left: 50px;
    top: 750px;
  }

  .center-box {
    text-align: right;
    width: 80%;
    bottom: 450px;
    margin-right: 30px;
  }

  .first-video {
    position: absolute;
    top: 63px;
    left: 0px;
  }
  .second-video {
    left: 470px;
    top: 579px;
  }
  .third-video {
    left: 77px;
    top: 1027px;
  }
  .fourth-video {
    left: 623px;
    top: 1797px;
  }

  .video {
    left: 184px;
    top: 1305px;
  }
}


@media only screen and (max-width: 1100px) {
  .lines {
    top: 800px;
    height: 400px !important;
  }
  .cta-wrapper {
    margin-left: 10px;
  }
  .coins {
    margin-left: -35px;
  }
  .burger-menu {
    display: none;
  }
}

@media only screen and (max-width: 994px) {
  .shark-img {
    display: none !important;
  }

  .center-box {
    margin: 0;
    text-align: left;
  }

  .coins {
    display: none;
  }

  .lines {
    display: none;
  }

  .pipe {
    display: none !important;
  }

  .box-label {
    font-size: 35px;
  }

  .z-index {
    text-align: center;
    margin-top: 130px;
  }

  .box-text {
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
  }

  .first-box {
    margin-left: 0;
    text-align: center;
    padding-right: 0;
  }

  .right-box {
    position: static;
    width: 100%;
    margin-top: 130px;
    padding: 0;
    text-align: center;
  }

  .left-box {
    position: static;
    margin-top: 130px;
    padding-right: 0;
    margin-left: 0;
    text-align: center;
  }

  .footer {
    margin-top: 100px;
  }

  .center-box {
    position: static;
    width: 100%;
    margin-top: 130px;
    text-align: center;
  }

  .cta-wrapper {
    text-align: left;
    padding: 0 130px 0 0px;
    width: 90%;
  }

  .slogan {
    text-align: left;
  }

  .cta {
    border-radius: 30px;
    -webkit-box-shadow: 0 0 17px 0px white;
    box-shadow: 0 0 17px 0px white;
    padding: 11px 23px;
    margin-left: 12px;
  }

  .poolshark-name {
    margin-top: 130px;
  }

  .mobile-lines {
    position: absolute;
    margin: 0;
    top: 0px;
    bottom: 0;
    width: 100vh;
    left: 300px;
    z-index: 0;
    opacity: 0.8;
  }

  .wholeapp {
    background-image: url("../public/mobilelines.svg");
    background-repeat: no-repeat;
    background-position: 500px;
    z-index: 0;
  }
  .burger-menu {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 565px) {
  .powered-wrapper {
    margin-top: 100px;
    font-size: 20px;
  }

  .cta {
    margin-left: 0;
  }

  .cta-wrapper {
    padding: 0;
    width: 100%;
    padding-right: 30px;
  }

  .wholeapp {
    background-position: 100px;
  }

  .slogan {
    width: 100%;
    font-size: 20px;
    margin-bottom: 100px;
  }

  .wholeapp {
    background-position: 70px;
  }

  .box-label {
    font-size: 33px;
    text-align: left;
  }

  .sm-label {
    width: 70%;
  }

  .sm-label-two {
    text-align: left;
  }

  .strike {
    text-align: left !important;
  }

  .big-margin {
    margin-top: 100px;
  }

  .box-text {
    text-align: left !important;
    padding: 0;
  }

  .center-box {
    text-align: left;
  }
}



@media only screen and (max-width: 400px) {
  .poolshark-name {
    width: 100%;
    margin-top: 100px;
  }

  .wholeapp {
    background-position: 150px -400px;
  }

  .slogan {
    font-size: 20px;
    text-align: center;
  }

  .box-text {
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 17px;
  }
  .box-label {
    width: 95%;
    font-size: 27px;
    line-height: normal;
  }
}
