/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&family=Sora:wght@100;300;400;500;600;700&display=swap');

a {
  color: white!important;
  text-decoration: none!important
}

body {
  background: #0c0c0c !important;
  color: white !important;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sora', sans-serif!important;
  overflow-x: hidden;
}

.footer {
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index: 1;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background: rgb(0, 0, 0);
}

.footer > * {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer > div > p {
  margin: 0;
}

.links-top-logo {
  margin-left: 70px;
}

.links-top {
  margin-right: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links-top a {
  color: #c7c7c7;
  text-decoration: none;
}

.links-top-links {
  display: inline-block;
  text-align: right;
}

.link-label {
  font-size: 14px;
  margin: 0;
  font-weight: thin;
}
a:hover {
  color: white!important;
}

.links > * {
  padding: 10px;
  cursor: pointer;
}

.btn-footer {
  background: #0071d9;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 17px;
  padding: 3px 9px;
  -webkit-box-shadow: 0px 0px 7px 0 #0071d9;
  box-shadow: 0px 0px 7px 0 #0071d9;
}

.burger-menu {
  display: none;
}

.wholeapp {
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  overflow: hidden;
  background-image: url("../public/grid.png");
}


.poolshark-name {
  width: 100%;
}

.lines {
  position: absolute;
  left: 0;
  top: 800px;
  height: 500px !important;
  z-index: 1;
  width: 100%;
  margin-top: -250px;
  height: auto;
}



.cta-wrapper {
  display: inline-block;
  text-align: right;
  width: 80%;
}

.cta {
  background: white;
  outline: none;
  border: none;
  font-size: 25px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 8px 0 #ced8f7;
  box-shadow: 0 0 8px 0 #ced8f7;
  cursor: pointer;
  position: relative;
  z-index: 10;
  padding: 1px 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-right: 7px;
}

.coins-wrapper {
  position: relative;
}

.coin1 {
  position: absolute;
  right: 100px;
  top: 50px;
  -webkit-animation: entering 2s backwards, float 6s ease-in-out infinite;
  animation: entering 2s  backwards, float 6s ease-in-out infinite;
  -webkit-perspective: 800px;
  perspective: 800px;
}

.coin2 {
  position: absolute;
  right: 210px;
  top: 138px;
  -webkit-animation: entering 2s .3s backwards, float2 8s ease-in-out infinite;
  animation: entering 2s .3s backwards, float2 8s ease-in-out infinite;
}

.coin3 {
  position: absolute;
  right: 260px;
  top: 10px;
  -webkit-animation: entering 2s .9s backwards, float3 4s ease-in-out infinite;
  animation: entering 2s .9s backwards, float3 4s ease-in-out infinite;
}
@-webkit-keyframes entering {
  0% {
    top: -400px;
  }

  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
@keyframes entering {
  0% {
    top: -400px;
  }

  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  40% {
    -webkit-transform: translatey(-20px) rotatez(-10deg) translateX(-10px);
    transform: translatey(-20px) rotatez(-10deg) translateX(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  40% {
    -webkit-transform: translatey(-20px) rotatez(-10deg) translateX(-10px);
    transform: translatey(-20px) rotatez(-10deg) translateX(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@-webkit-keyframes float2 {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-transform: translatex(0px);
    transform: translatex(0px);
  }
  50% {
    -webkit-transform: translatey(10px) rotateY(20deg) rotateZ(-22deg)
      translateX(-10px);
    transform: translatey(10px) rotateY(20deg) rotateZ(-22deg) translateX(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-transform: translatex(0px);
    transform: translatex(0px);
  }
  50% {
    -webkit-transform: translatey(10px) rotateY(20deg) rotateZ(-22deg)
      translateX(-10px);
    transform: translatey(10px) rotateY(20deg) rotateZ(-22deg) translateX(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@-webkit-keyframes float3 {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px) rotateZ(10deg) translateX(-4px);
    transform: translatey(-10px) rotateZ(10deg) translateX(-4px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

@keyframes float3 {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px) rotateZ(10deg) translateX(-4px);
    transform: translatey(-10px) rotateZ(10deg) translateX(-4px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}

.logo {
  display: block;
  margin-bottom: 47px;
  width: 25%;
}


.shark-img {
  margin-top: 40px;
  margin-left: -80px;
  width: 110%;
  z-index: 3;
  position: relative;
  animation: fadeIn 2s  backwards, floatShark 4s ease-in-out infinite;
  -webkit-animation: fadeIn 2s  backwards, floatShark 4s ease-in-out infinite;
  -moz-animation: fadeIn 2s  backwards, floatShark 4s ease-in-out infinite;
  -o-animation: fadeIn 2s  backwards, floatShark 4s ease-in-out infinite;
  -ms-animation: fadeIn 2s  backwards, floatShark 4s ease-in-out infinite;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(220px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(220px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes floatShark {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-10px) ;
    transform: translatey(-10px) ;
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
​ 

.big-margin {
  margin-top: 200px;
}

.powered-wrapper {
  margin-top: 150px;
  margin-bottom: 550px;
  font-size: 28px;
  font-weight: 500;
  padding: 80px 90px 100px;
}


.powered-icon {
  border-radius: 100px;
  position: absolute;
  top: -30px;
  right: -30px;
}

.powered-headline {
  font-size: 35px;
  text-align: left;
  font-weight: 600;
}

.powered-txt {
  text-align: left;
  font-size: 18px;
}

.powered-item {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0px 20px;
  border: 6px solid white;
  border-radius: 37px;
  margin: 0px 40px;
  height: 100%;
}

.powered-label {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 40px;
  margin: 0;
  border: 4px solid white;
}

.box-label {
  font-weight: 700;
  font-size: 50px;
  width: 100%;
  color: #27f09e;
  position: relative;
  z-index: 2;
  line-height: 66px;
  margin-bottom: 70px;
  font-family: 'Montserrat', sans-serif!important;
}


.white-txt {
  color: white;
  margin-bottom: 0;
}

.box-text {
  font-size: 24px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 2;
  position: relative;
}

.pipe {
  width: 250%;
  margin-top: -900px;
  margin-left: -845px;
}

.text-right {
  text-align: right;
}

.pipe-box {
  width: 235%;
  height: 6000px;
  position: relative;
  margin-left: -850px;
  
}


.first-box {
  position: absolute;
  top: 515px;
  margin-left: 700px;
  width: 45%;
}

.right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  top: 1430px;
  width: 45%;
  right: 770px;
  text-align: right;
}

.z-index {
  position: relative;
  z-index: 2;
}

.left-box {
  position: absolute;
  top: 2390px;
  margin-left: 700px;
  width: 40%;
}

.center-box {
  bottom: 880px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  width: 49%;
  right: 770px;
  text-align: right;
}

.video {
  position: absolute;
  bottom: 1957px;
  left: 963px;
  width: 1077px;
  height: 626px;
  overflow: hidden;
}

iframe {
  pointer-events: none;
}

.first-video {
  position: absolute;
  left:747px;
  top: 1088px;
  height: 222px;
  overflow: hidden;
  width: 429px;
}

.second-video {
  overflow: hidden;
  width: 429px;
  height: 226px;
  position: absolute;
  left: 1665px;
  top: 2057px;
}

.third-video {
  overflow: hidden;
  width: 429px;
  height: 224px;
  position: absolute;
  left: 813px;
  top: 2896px;
}

.fourth-video {
  position: absolute;
  left: 1750px;
  top: 4369px;
  overflow: hidden;
  width: 433px;
  height: 220px;
}

.coin-one {
  position: absolute;
  right:1011px;
  top: 495px;
  z-index: 2;
}

.coin-two {
  position: absolute;
  left: 1240px;
  bottom: 700px;
}





@media only screen and (max-width: 1700px) {
  .powered-item {
    margin: 0px 10px;
  }
  .links-top-logo {
    margin-left: 50px;
  }

  .shark-img {
    width: 130%;
    top: 14px;
  }

  .pipe-box {
    margin-left: -840px;
  }

  .box-label {
    font-size: 50px;
  }

  .pipe-box {
    margin-top: -20px;
  }

  .box-text {
    font-size: 30px;
  }

  .first-box {
    padding-right: 200px;
  }

  .right-box {
    top: 1420px;
    right: 780px;
    width: 40%;
  }

  .center-box {
    right: 780px;
    width: 45%;
  }

  .left-box {
    top: 2400px;
    width: 45%;
  }

  .first-video {
    left: 748px;
    top: 1090px;
    width: 427px;
  }

  .second-video {
    width: 429px;
    height: 224px;
    left: 1665px;
    top: 2057px;
  }

  .third-video {
    width: 429px;
    height: 224px;
    left: 813px;
    top: 2896px;
  }

  .fourth-video {
    position: absolute;
    left:1757px;
    top: 4368px;
    width: 426px;
    height: 222px;
  }

  .coin1, .coin2, .coin3 {
    width: 140px;
  }
  .coin3 {
    right: 220px;
  }

  .coin2 {
    top: 100px;
  }

}


@media only screen and (max-width: 1650px) {
  .coins {
    margin-left: -30px;
  }

  .box-label {
    font-size: 35px;
    line-height: 35px;
  }
  .powered-item {
    min-height: 300px;
  }

  .box-text {
    font-size: 25px;
  }
  .first-box {
    margin-left: 760px;
    top: 523px;
  }

  .right-box {
    right: 800px;
  }

  .left-box {
    margin-left: 760px;
  }
  .center-box {
    bottom: 1000px;
    margin-right: 15px;
    width: 38%;
  }

}
@media only screen and (max-width: 1545px) {

  .cta {
    font-size: 20px;
  }

  .links-top-logo {
    margin-left: 30px;
  }
  .links-top {
    margin-right: 0;
  }

  .pipe-box {
    width: 200%;
    margin-left:-630px;
  }

  .first-box {
    margin-left: 600px;
  }

  .right-box {
    top: 1450px;
    margin-right: -110px;
  }

  .left-box {
    top: 2430px;
    margin-left: 600px;
  }

  .center-box {
    bottom: 980px;
    margin-right: -110px;
    width: 44%;
  }

  .video {
    position: absolute;
    bottom: 1957px;
    left: 821px;
    width: 915px;
    height: 626px;
  }

  .powered-wrapper {
    margin-top: 140px;
    margin-bottom: 300px;
  }

  .powered-icon {
    width: 70px;
  }

  .pipe {
    width: 210%;
    margin-top: -720px;
    margin-left: -587px;
  }

  .coin-one {
    top: 495px;
    right: 873px;
  }

  .coin-two {
    left: 1050px;
    bottom: 800px;
  }
  .first-video {
    top: 1088px;
    left: 636px;
    width: 364px;
    height: 223px;
    overflow: hidden;
  }

  .second-video {
    width: 363px;
    height: 224px;
    left: 1417px;
    top: 2057px;
  }

  .third-video {
    width: 363px;
    height: 224px;
    left: 693px;
    top: 2896px;
  }

  .fourth-video {
    position: absolute;
    left:1495px;
    top: 4368px;
    width: 363px;
  }

  .shark-img {
    margin-top: 150px;
  }

  .coin1,
  .coin2,
  .coin3 {
    width: 150px;
  }

  .coin1 {
    right: 30px;
  }

  .coin2 {
    right: 120px;
  }

  .coin3 {
    right: 170px;
  }
}

@media only screen and (max-width: 1399px) {
  .links-top-logo {
    margin-left: 70px;
  }
  .pipe-box {
    width: 210%;
    height: 5000px;
    margin-left: -570px;
    margin-top: 400px;
  }

  .powered-wrapper {
    padding-bottom: 200px;
  }

  .powered-item {
    min-height: 220px;
  }

  .lines {
    top: 700px;
  }

  .shark-img {
    margin-top: 100px;
  }

  .powered-icon {
    width: 90px;
  } 

  .first-box {
    left: 550px;
    margin-left: 0;
    top: 433px;
  }

  .right-box {
    top: 1150px;
    margin-right: -170px;
  }

  .left-box {
    left: 550px;
    top: 1940px;
    margin-left: 0;
  }

  .center-box {
    bottom: 800px;
    margin-right: -170px;
    width: 49%;
  }
  .coin-one {
    top: 405px;
    right: 790px;
  }

  .coin-two {
    left: 900px;
    bottom: 630px;
  }

  .first-video {
    top: 907px;
    left: 576px;
    width: 327px;
    height: 185px;
  }

  .second-video {
    width: 329px;
    height: 187px;
    left: 1281px;
    top: 1715px;
  }
  
  .third-video {
    width: 329px;
    height: 185px;
    left: 625px;
    top: 2413px;
  }

  .fourth-video {
    position: absolute;
    left:1352px;
    top: 3638px;
    width: 328px;
    height: 188px;
  }

  .video {
    position: absolute;
    bottom: 1632px;
    left: 743px;
    width: 825px;
    height: 520px;
  }
}


@media only screen and (max-width: 1300px) {

  .cta-wrapper {
    width: 84%;
  }
  .pipe-box {
    margin-top: 300px;
    width: 200%;
    height: 5000px;
    margin-left: -530px;
  }


  .right-box {
    top: 1180px;
    margin-right: -200px;
  }

  .center-box {
    margin-right: -200px;
    width: 52%;
  }

  .coins {
    margin-left: 0;
  }

  .cta-wrapper {
    margin-left: 0;
  }

  .coin-one {
    right: 740px;
  }

  .first-video {
    top: 907px;
    left: 547px;
    width: 313px;
    height: 185px;
  }

  .second-video {
    width: 313px;
    height: 188px;
    left: 1220px;
    top: 1714px;
  }

  .third-video {
    width: 313px;
    height: 185px;
    left: 595px;
    top: 2413px;
  }

  .fourth-video {
    position: absolute;
    left:1288px;
    top: 3638px;
    width: 314px;
    height: 188px;
  }

  .video {
    position: absolute;
    bottom: 1632px;
    left: 707px;
    width: 787px;
    height: 520px;
  }
}

@media only screen and (max-width: 1200px) {

  .pipe-box {
    margin-top: 300px;
    width: 200%;
    height: 4000px;
    margin-left: -470px;
  }
  .logo {
    width: 100px;
  }

  .box-text {
    font-size: 20px;
  }

  .coin-one {
    height: 100px;
    top: 304px;
    right: 630px;
  } 

  .coin-two {
    height: 100px;
    bottom: 550px;
    left: 790px;
  }



  .box-label {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 0px;
  }

  .z-index {
    text-align: center;
  }

  .pipe {
    margin-left: -349px;
    margin-top: -520px;
    width: 180%;
  }

  .cta-wrapper {
    margin-left: 0;
  }

  .coins {
    margin-left: -40px;
  }


  .lines {
    top: 800px;
  }

  .first-box {
    left: 450px;
    top: 320px;
  }
  .right-box {
    margin-right: 30px;
    top: 940px;
    right: 450px;
    width: 100%;
  }
  .left-box {
    top: 1550px;
    left: 450px;
  }

  .center-box {
    bottom: 650px;
    margin-right: 30px;
    right: 450px;
    width: 49%;
  }

  .first-video {
    top: 725px;
    left: 459px;
    width: 263px;
    height: 149px;
  }
  .second-video {
    width: 263px;
    height: 148px;
    left: 1023px;
    top: 1372px;
  }

  .third-video {
    width: 263px;
    height: 149px;
    left: 500px;
    top: 1931px;
  }
  .fourth-video {
    position: absolute;
    left:1078px;
    top: 2912px;
    width: 264px;
    height: 148px;
  }

  .video {
    position: absolute;
    bottom: 1305px;
    left:593px;
    width: 660px;
    height: 416px;
  }
}


@media only screen and (max-width: 1100px) {
  .lines {
    top: 800px;
    height: 400px !important;
  }
  .powered-item {
    min-height: 250px;
  }

  .cta {
    font-size: 17px;
  }

  .cta-wrapper {
    margin-left: 10px;
  }

  .coins {
    margin-left: -35px;
  }

  .burger-menu {
    display: none;
  }

}

@media only screen and (max-width: 990px) {
  .pipe-box {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .powered-item {
    min-height: 300px;
  }

  .links-top {
    text-align: center;
  }
  .shark-img {
    display: none !important;
  }

  .center-box {
    margin: 0;
    text-align: left;
  }

  .coins {
    display: none;
  }

  .lines {
    display: none;
  }

  .pipe {
    display: none !important;
  }

  .box-label {
    font-size: 30px;
    color: white;
    padding: 0 20px;
    text-align: center;
  }

  .z-index {
    text-align: center;
    margin-top: 130px;
  }

  .box-text {
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    padding: 00px 20px;
    text-align: center;
  }

  .first-box {
    position: static;
    margin-left: 0;
    text-align: center;
    padding-right: 0;
    width: 100%;

  }

  .right-box, .left-box, .center-box {
    position: static;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 130px;
    text-align: center;
  }

  .footer {
    margin-top: 100px;
  }



  .cta-wrapper {
    text-align: left;
    padding: 0 130px 0 0px;
    width: 90%;
  }

  .cta {
    border-radius: 30px;
    -webkit-box-shadow: 0 0 17px 0px white;
    box-shadow: 0 0 17px 0px white;
    padding: 11px 23px;
    margin-left: 12px;
  }

  .poolshark-name {
    margin-top: 130px;
  }

  .mobile-lines {
    position: absolute;
    margin: 0;
    top: 0px;
    bottom: 0;
    width: 100vh;
    z-index: 0;
    opacity: .4;
  }

  .wholeapp {
    background-image: none;
    z-index: 0;
  }
  
  .burger-menu {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
  }
  .powered-wrapper {
    margin: 120px 0;
  }
}

@media only screen and (max-width: 750px) {
  .powered-item {
    min-height: 200px;
  }

}


@media only screen and (max-width: 565px) {
  .powered-wrapper {
    margin-top: 120px;
    font-size: 20px;
    padding: 10px;
  }

  .cta {
    margin-left: 0;
  }

  .cta-wrapper {
    padding: 0;
    width: 100%;
    padding-right: 30px;
  }

  .wholeapp {
    background-position: 100px;
  }

  .wholeapp {
    background-position: 70px;
  }

  .box-label {
    font-size: 22px;
  }

  .sm-label {
    width: 100%;
  }



  .strike {
    text-align: left !important;
  }

  .big-margin {
    margin-top: 100px;
  }



  .center-box {
    text-align: left;
  }
}



@media only screen and (max-width: 400px) {
  .poolshark-name {
    width: 100%;
    margin-top: 50px;
  }

  .wholeapp {
    background-position: 150px -400px;
  }

  .box-text {
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 17px;
  }
  .box-label {
    width: 100%;
    font-size: 20px;
    line-height: normal;
  }

  .footer > * {
    margin: 10px 0;
  }
}
